:root {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(255, 255, 255);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    float: left;
}

.todoinput {
    margin: 50px 0px 50px;

}

.todoinput input[type=text] {
    width: 260px;
    height: 30px;
    padding-left: 10px;
    margin-right: 9px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}

.todoinput input[type=text]:focus-visible {
    outline: 0px;
}

.todoinput input[type=submit] {
    width: 95px;
    height: 36px;
    background-color: rgb(245, 255, 255);
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    color: black;
    border-style: none;
}

.todoinput input[type=submit]:active {
    background-color: rgba(255, 255, 255, 0.774);
}

.board {
    display: block;
    place-items: center;
    max-width: 366px;
    min-height: 352px;
}


.todo {
    background-color: rgb(58, 57, 57);
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 20px;
    padding: 8px;

}

.date {
    font-size: xx-small;
    right: 50%;
}

li {
    max-height: 131px;
}

li span {
    margin: 0 auto;
    word-wrap: break-word;
    display: block;
    margin-bottom: 11px;
    font-size: large;
    letter-spacing: 0.5px;
}



.check {
    background-color: rgba(43, 43, 43, 0.384);
    & li span {
        text-decoration: line-through;
        color: rgba(255, 253, 253, 0.356);
    }
    & .deletebutton .date .cb {
        opacity: .5;
    }
    & li {
        color: rgba(240, 248, 255, 0.404);
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.deletebutton {
    border: 0;
    float: right;
    background-color: transparent;
}

@media (max-width: 482px) {
    .todoinput input[type=submit] {
      margin-top: 20px;
      min-width: 310px;
    }
    .todoinput input[type=text] {
        padding: 0px;
        margin-right: 0px;
    }
  }

